django
Pygments==1.0
docutils==0.5

django-mailer
django-gravatar
markdown

# TODO: move to released versions.
http://django-tagging.googlecode.com/svn/trunk/
-e git+git://github.com/jezdez/django-comment-utils.git#egg=django-comment-utils
-e git+git://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e hg+http://bitbucket.org/jespern/django-piston/#egg=django_piston
http://dist.repoze.org/PIL-1.1.6.tar.gz
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl_thumbnail
-e svn+http://typogrify.googlecode.com/svn/trunk/#egg=typogrify
smartypants
