{% extends "base.html" %}
{% block body_id %}speaking{% endblock %}
{% block content %}
<div id="content" class="grid_16">
  <div class="grid_4 alpha conference_name">
    <h3>EuroDjangoCon 2008</h3>
    <h5 class="date">January 23rd, 2008</h5>
  </div>
  <div class="grid_8">
    <p>In my EuroDjangoCon talk, I spoke about some of the benefits of
    Django as seen from a manager's perspective. The main goal here
    was to share my experiences in convincing my employers to use
    Django. I also shared a few of the bullet-point features that
    Django offers that is very appealing to people in mid- to
    upper-management.</p>

    <p>The bulk of this talk was pulled from my article Django at
    30,000ft: A manager's view, published by Python Magazine.</p>
  </div>
  <div class="grid_4 omega sidebar">
    <h5>Links</h5>
    <ul>
      <li><a href="#">Slides</a></li>
      <li><a href="#">EuroDjangoCon 2008</a></li>
    </ul>
  </div>
  
</div><!-- /#content -->
{% endblock %}
