{% extends "base.html" %}
{% block body_id %}about{% endblock %}
{% block content %}
<div id="content" class="grid_16">
  <div class="grid_9 suffix_1 alpha">
    <h2>About Me</h2>
    <p>I'm a Brooklyn-based web developer who specializes in Django. I
      studied design at the Art Institute, but only the level that I
      don't look like a complete ass when real designers are
      nearby.</p>

    <p>I am interested in a variety of technologies, most of which
      involve the web. I also enjoy cycling, working with my hands,
      occassionally acting like a grownup, and playing video
      games.</p>

    <p>The main purpose of this blog is to share my findings and
      trobules with others, while providing a record of my
      progression, personally and professionally, over a period of
      time. It also serves as a landing page for all things digital
      which are related to me.</p>
  </div>
  <div class="grid_6 omega">
    <img src="/static/img/myphoto.jpg" alt="Justin Lilly" title="Me" id="about_photo" width="300"/>
  </div>
</div><!-- /#content -->
{% endblock %}
