<!DOCTYPE HTML>
<html lang="ru-RU">
  <head>
    <title>{% block title %}Justin Lilly{% endblock %}</title>
    <meta charset="UTF-8">
    <link href="http://feeds.feedburner.com/justinlilly/" rel="alternate" type="application/rss+xml" title="RSS: Articles">
    <link rel="stylesheet" href="/static/css/test.css" type="text/css" media="screen" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script> -->
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/static/js/junction_400.font.js" type="text/javascript"></script>
	<script type="text/javascript">
	  Cufon.replace('.coufon');
	</script>
    {% block extra_head_js %}{% endblock %}
  </head>
  <body id="{% block body_id %}base{% endblock %}">
    <div id="header">
      <div id="masthead" class="clearfix">
        <h1 id="logo">Justin Lilly</h1>
        <ul id="nav">
          <!-- <li><a id="nav_home" href="home.html" class="active">Home</a></li> -->
          <li><a id="nav_writing" href="{% url blog_archive_index %}">Writing</a></li>
          <li><a id="nav_coding" href="{% url code-index %}">Coding</a></li>
          <li><a id="nav_work" href="{% url portfolio-index %}">Work</a></li>
          <li><a id="nav_speaking" href="{% url speaking-index %}">Speaking</a></li>
          <li><a id="nav_about" href="{% url about_me %}">About</a></li>
        </ul>
      </div>
    </div><!-- /#header -->
    <div class="clearfix" id="content-wrap">
      <div class="container_16">
        {% block content %}
        {% endblock %}
      </div><!-- /.container_16 -->
    </div><!-- /#content-wrap -->
    <div id="footer" class="clearfix">
      <div class="container_12">
        <!-- logo overlay like psdtuts's footer -->
        <div class="grid_3 alpha">
          <img src="/static/img/myphoto2.jpg" />
        </div>
        <div class="grid_3">
          <h3>About Me</h3>
          <p>I'm a Brooklyn-based web developer specializing
            primarily in Django. My interests include python, wood
            working, cycling and video games.</p>
        </div>

        <div class="prefix_2 grid_2">
          <h3>Around Town</h3>
          <ul>
            <li><a href="http://twitter.com/justinlilly/">Twitter</a></li>
            <li><a href="http://justinlilly.tumblr.com/">Tumblr</a></li>
            <li><a href="http://facebook.com/justinlilly/">Facebook</a></li>
          </ul>
        </div>
        <div class="grid_2 omega">
          <h3>Archives</h3>
          <ul class="grid_2 alpha">
            {% for date in POST_DATE_MONTHS %}
            <li><a href="{% url blog_archive_month date|date:"Y", date|date:"M"|lower %}">{{ date|date:"F Y" }}</a></li>
            {% endfor %}
            {% for date in POST_DATE_YEARS %}
            <li><a href="{% url blog_archive_year date|date:"Y" %}">All of {{ date|date:"Y" }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div> <!-- /#footer -->
    <script type="text/javascript"> Cufon.now(); </script>
    {% block extra_js_bottom %}{% endblock %} 
    {% if STATS_CODE %}
    {% autoescape off %}
    {{ STATS_CODE }}
    {% endautoescape %}
    {% endif %}
  </body>
</html>
