{% extends "base.html" %}
{% block body_id %}home{% endblock %}
{% block content %}
<div id="content" class="grid_16">
  <div class="grid_9 alpha">
    <h2 class="header">Writing</h2>
    <ul>
      <li><h2 class="coufon title"><a href="#">A fix for your fixtures and your models&nbsp;subdir</a></li>
      <li><h2 class="coufon title"><a href="#">A better way to handle settings files</a></h2></li>
      <li><h2 class="coufon title"><a href="#">Google account suspended: A post&nbsp;mortem</a></h2></li>
      <li><h2 class="coufon title"><a href="#">My first time using TipJoy</a></h2></li>
    </ul>
  <h2 class="header">Twitter</h2>
  <ul class="sidebar">
    <li>So I'm looking for a photo that someone took of me at <a href="#">#eurodjangocon</a> this year. Its black and white. Any leads?</li>
    <li>No clue why <a>@gregnewman</a> was trying to get <a>@jcroft</a> to try NC BBQ. Everyone knows the good stuff (mustard-based) comes from SC.</li>
    <li>doing my <a>#sitesprint</a> without the mocking in photoshop step. Seems to actually go quite well. 960.gs makes it all possible.</li>
    <li>I need to know more designers so I can get a critique on my <a>#sitesprint</a></li>
    <li>Tonight's <a>@djangonyc</a> tutorial was lots of fun. Looks like I might have a documentation patch or two for the tutorial & windows users.</li>
  </ul>
  </div>
  <div class="grid_7 omega">

  </div>
</div><!-- /#content -->
{% endblock %}
