{% extends "base.html" %}
{% block body_id %}writing{% endblock %}
{% block content %}
      <div id="content" class="grid_16">
        <div id="left_col" class="grid_8 alpha">
          <div class="post">
            <h2 class="title coufon"><a href="detail.html">A fix for your fixtures and your models&nbsp;subdir</a></h2>
            <h5 class="date">October 27th, 2009</h5>
            <p>Those of us who have separated out our models into a
            separate subdirectory, this tip will help you with issues
            in loading&nbsp;fixtures.</p>
          </div>

          <div class="post">
            <h2 class="title coufon"><a href="detail.html">A better way to handle settings files</a></h2>
            <h5 class="date">October 23rd, 2009</h5>
            <p>At work, we tend to have several people working on a
            project at once. When its time to deploy, we deploy to
            several servers at once. One pain point that we've come
            across is the ability to manage all of the settings files
            for these servers. I've come up with something that I
            consider to be a good, clean alternative.</p>
          </div>
        </div>
        <div id="right_col" class="grid_8 omega">
          <div class="post">
            <h2 class="title coufon"><a href="detail.html">Google account suspended: A post&nbsp;mortem</a></h2>
            <h5 class="date">August 7th, 2009</h5>
            <p>A few weeks back, I had my Google account disabled. It
            turns out, this is a huge deal and presents an interesting
            view into what sort of hand-hold google has on our online
            lives.</p>
          </div>
          <div class="post">
            <h2 class="title coufon"><a href="detail.html">My first time using TipJoy</a></h2>
            <h5 class="date">July 21st, 2009</h5>
            <p>TipJoy is a service which allows you to send someone a
            small amount of money. I used it for the first time and my
            overall experience was mixed.</p>
          </div>
        </div>
      </div><!-- /#content -->
{% endblock %}
